/* Remove Defaults */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 }
 
 /* Page Settings */
 html {
   font-size: 100%;
   background-color: #000000;
 }
 
 body {
   font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
 }


 /* Navigation Bar */
 nav {
   text-align: right;
   height: 40px;
   background-image: url(images/getflix\ logo\ \(2\).png);
   background-size: 110px 60px;
   background-position: left;
   background-repeat: no-repeat;
   margin-top: 40px;
 }
 
 /* Header */
 header {
   background-image: url(images/neflix\ hero2.png);
   background-color: #b09e9e;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 440px;
   text-align: center;
   width: 100%;
   border-bottom: 8px solid #292828;
   margin-bottom: 100px;
 }

 @media (min-width: 600px) {
  header {
    margin-bottom: 300px;
  }
 }

 
 .header-text {
   width: 90%;
   margin: 0 auto;
 }
 
 @media (min-width: 600px) {
 .header-text {
   width: 50%;
 }
 }

/* Headings */
 h1 {
   font-size: 1.8rem;
   color: #ffffff;
   text-align: center;
   font-weight: normal;
 }
 
 .hero-h1 {
   padding-top: 75px;
 }
 
 h2 {
   font-size: 1.1rem;
   color: #ffffff;
   font-weight: normal;
 }
 
 h3 {
   font-size: 1rem;
   color: #646262;
   text-align: center;
 }
 
 /* Paragraphs */
 p {
   font-size: 1em;
   color: #ffffff;
 }

 /* Email Input Card */
 .sign-up {
  margin-top: 20px;
}

.second-sign-up {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .second-sign-up {
    width: 50%;
  }
}

 .email {
   font-size: 1rem;
   padding: 6px 15px;
   margin-right: 0;
 }

/* Buttons */
 button {
   font-size: 1rem;
   color: #ffffff; 
   background-color: #ec0909;
   border: 1px solid #ec0909;
   padding: 6.5px 12px;
 }
 
 .start-btn:hover {
   background-color: #f52e2e
 }
 
 .nav-btn {
   font-size: .8rem;
   padding: 4px 20px;
   margin: 0 6px;
 }
 
 .faq {
   font-size: .7rem;
   background-color: #000000;
   border: 1px solid #ffffff;
   padding: 4px 12px;
 }
 
 /* Horizontal Rules */
 hr {
   border: 4px solid #292828;
   margin: 100px 0;
 }

@media (min-width: 600px) {
 hr {
   border: 4px solid #292828;
   margin: 300px 0;
 }
 }
 
 /* Description Cards */
 .card {
    width: 90%;
   padding: 0 10px;
   margin: 0 auto;
 }
 
@media (min-width: 600px) {
 .card {
    width: 60%;
 }
 }

@media (min-width: 600px) {
 .card-text {
   width: 60%;
   margin: 0 auto;
 } 
}
 
 .devices {
    width: 15rem;
   margin: 0 auto;
   padding: 0;
 }
 
 @media (min-width: 600px) {
   .devices {
   float: right;
   margin-left: 20px;
 }
 }
 
 .kids {
   width: 20rem;
   margin: 0 auto;
   padding: 0;
 }
 
 @media (min-width: 600px) {
   .kids {
     float: left;
     margin-left: 20px;
 }
 }
 
 /* FAQ Section */
 details {
   color: #ffffff;
   background-color: #575252;
   margin: 0 auto;
   width: 90%;
 }
 
 @media (min-width: 600px) {
 details {
   width: 50%
 }
 }
 
 summary {
   font-size: 1.2rem;
   color: #ffffff;
   padding-bottom: 5px;
   font-weight: bold;
   border-bottom: 1px solid #000000;
 }
 
 /* Footer */
 a {
   font-size: 1rem;
   color: #646262;
   text-decoration: none;
   font-weight: bold;
   padding: 0;
   margin: 0;
 }
 
 a:hover {
   text-decoration: underline;
 }
 
  ul {
  text-align: left;
 }

 li {
  display: inline-block;
  padding: 5px 120px;
 }

 
 section {
   text-align: center;
   margin-bottom: 30px;
 }